.back-link {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

.card {
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  line-height: 25px;
  font-size: 13px;
  overflow: hidden;
}

.card .image {
  margin: 0 auto;
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .card .image {
    margin: 0 auto;
    width: 300px;
  }
}

.card .desc {
  padding: 8px 32px 24px 24px;
}

.card h3 {
  margin: 0;
  padding: 0 0 8px 0;
}

.card p {
  margin: 0;
  padding: 0 0 4px 0;
}

.stats {
  margin-top: 8px;
}

.stat {
  margin-bottom: 8px;
}

.stat:last-of-type {
  margin-bottom: 0;
}

.count {
  font-weight: 600;
  font-size: 18px;
}

.trello-label {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;
}

.trello-label.personal {
  background-color: #f2d600;
  color: white;
}

.trello-label.biome {
  background-color: #52d19a;
  color: #333;
}

.trello-label.work {
  background-color: #bbe5b3;
  color: #333;
}
