section {
  position: relative;
  scroll-snap-align: start;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
section.active {
  opacity: 1;
}
section:last-child {
  border-bottom: none;
  margin-bottom: 1000px;
}

.content {
  top: 0;
  left: 0;
  position: fixed;
  transition: opacity 700ms;
  opacity: 0;

  width: 300px;
}

.content.show {
  opacity: 1;
}

#ubc-content {
  margin: 256px auto;
  width: 100%;
  padding: 0;
  line-height: 25px;
  font-size: 42px;
  text-align: center;
  background: transparent;
  box-shadow: none;
}

#dorm-content {
  top: 15%;
  left: 55%;
}

#work-content {
  top: 50%;
  left: 56%;
}
