#intro {
  position: absolute;
  top: 32px;
  opacity: 0;
  width: 100%;
  z-index: 5000;
  transition: opacity 300ms ease-out;
}

.foreground + #intro {
  opacity: 1;
}

#intro .content {
  margin: 0 auto;
  width: 85%;
  padding: 32px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-family: sans-serif;
  line-height: 1.25;
}

#intro .content h1,
#intro .content p {
  margin: 0;
  padding: 0 0 12px 0;
}

#intro .content .subtitle {
  font-size: 110%;
}

@media screen and (min-width: 768px) {
  #intro .content {
    width: 50%;
  }
}
