section {
  position: relative;
  scroll-snap-align: start;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
section.active {
  opacity: 1;
}
section:last-child {
  border-bottom: none;
  margin-bottom: 1000px;
}

.content {
  top: 0;
  left: 0;
  position: fixed;
  transition: opacity 700ms;
  opacity: 0;

  width: 300px;
}

.content.show {
  opacity: 1;
}

.content .link {
  top: 0;
  left: 0;
  position: absolute;
}

#start-content {
  top: 0;
  width: 100%;
  padding: 16px;
  background: transparent;
  box-shadow: none;
}

#start-content h1 {
  margin: 0;
  padding: 16px 0;
  font-size: 42px;
}

.tasks-image {
  margin-bottom: 16px;
  padding: 16px;
  width: 720px;
  display: block;
  background: rgba(255, 255, 255, 0.8);
}

.task-links a {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 768px) {
  #start-content {
    margin: 0 auto;
    padding: 32px;
  }
  #dorm-content {
    top: 15%;
    left: 55%;
  }

  #work-content {
    top: 50%;
    left: 56%;
  }

  #saveon-content {
    top: 50%;
    left: 56%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
  }
}
