#time-container {
  position: absolute;
  top: 32px;
  width: 100%;
  height: 100px;
  z-index: 1000;
  overflow: hidden;
}

#time {
  margin: 0 auto;
  width: 80%;
  position: relative;
  transition: width 400ms ease-out;
  background: white;
}

#time-container.foreground #time {
  width: 50%;
}

#time-back-button {
  position: fixed;
  display: block;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  opacity: 0;
  z-index: 1001;
  transition: opacity 100ms ease-out;
}

#time-back-button.active {
  opacity: 1;
}

#time .view,
#time .view .block {
  height: 0;
  padding: 0;
  margin: 0;
  transition: height 200ms ease-out;
}

#time .view.active,
#time .view.active .block {
  height: 100px;
  opacity: 1;
}

#time .block {
  top: 0;
  margin: 0;
  border: none;
  font-size: 16px;
  float: left;
}
